<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Crear Posteo</h1>
    <form action="/posts" method="POST" >   
 
        <label for="Title" >Titulo</label>
        <input type="text" name="Title" id="Title">
        <label for="Summary">Summary</label>
        <textarea type="text" name="Summary" id="Summary" ></textarea>
        <label for="Created_at">FechaCreacion</label>
        <input type="date" name="Created_at" id="Created_at">
        <label for="Updated_at">FechaModificacion</label>
        <input type="date" name="Updated_at" id="Updated_at">
        <button class="btn btn-primary" type="submit">Upload</button> 
    </form>
    
</body>
</html>