<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Crear Posteo</h1>
    <form action="/posts/create" method="POST" >        
        <label for="title" >Titulo</label>
        <input type="text" name="title" id="title" >
        <label for="summary">Summary</label>
        <textarea type="text" name="summary" id="summary" rows="10" cols="15" ></textarea>
        <label for="created_at">FechaCreacion</label>
        <input type="date" name="created_at" id="created_at">
        <label for="updated_at">FechaModificacion</label>
        <input type="date" name="updated_at" id="updated_at">
        <input type="submit" value="Cargar">
    </form>
    
</body>
</html>