<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eliminar posteo</h1>
    <form action="/delete/<%= data.idPost %>" method="POST" >
        <h2>Desea eliminar este post?</h2>
        <a id="btnupdate" href="/posts"></a>
        <input id="btndelete" type="submit" value="Si, eliminar"> 
    </form>
</body>
</html> 